<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atiempo.app">
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="A Tiempo"
        android:roundIcon="@drawable/ic_launcher"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.ATiempo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
